.scoreboard-item {
  display: flex;
  font-size: 20px;
}

.scoreboard-item-teams {
  flex: 0 0 520px;
  text-transform: uppercase;
}

.scoreboard-item-score {
  flex: 0 0 60px;
  padding: 0 16px;
  font-weight: 700;
}
